<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} 地平线_博客</title>
        <meta name="keywords" content="{{  page.keywords }}onlyfu,fuweiyi,blog,logs,博客"/>
        <meta name="description" content="地平线，学习写作与工作生活记录" />
		<meta name="baidu-site-verification" content="7P3zJDwukPDw2LOy" />
        <link href="{{ site:url }}/css/common.css" rel="stylesheet" type="text/css" />
        <link href="prettify/prettify.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="bookmark" href="/favicon.ico"/>
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="prettify/prettify.js"></script>
</head>
<body>
        <div class="wrap">
		<div class="header radius black">
			<h2><a href="{{ site:url  }}">地平线</a></h2>
			<span class="right">有事者，事竟成；破釜沉舟，百二秦关终归楚；苦心人，天不负；卧薪尝胆，三千越甲可吞吴</span>
		</div>
